body {
	padding:5%;
	font-family: sans-serif;
}
.title {
	margin-bottom: 50px;
}
table, th, td {
  border: 1px solid black;
  padding:5px;
  border-collapse: collapse;
  text-align: center;
}
#button {
	margin:15px 0 0 0;
	padding:10px;
	border-radius: 3px;
}
#selectDiscount {
	padding:10px;
	border: none;
}
input {
	min-height: 30px;
	padding:5px;
	margin:0;
	font-size: 1em;
	text-align: center;
}
